.dashboard-navbar {
	display: flex;
}

.dashboard-layout {
	background-color: rgba(81, 138, 96, 255);
	position: sticky;
	top: 0;
	left: 0;
	width: 217px;
	height: 100vh;
}

.dashboard {
	color: white;
	padding-top: 17px;
}

.hrms-logo-white {
	/* border: 1px solid white; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 4px;
	cursor: pointer;
}

.hrms-logo-white>img {
	width: 108px;
}

.db-category {
	/* border: 1px solid white; */
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 28px;
	margin-top: 54px;
}

.db-category-content {
	/* border: 1px solid white; */
	display: flex;
	align-items: center;
	margin-bottom: 9px;
	cursor: pointer;
}

.db-category-img>img {
	/* border: 1px solid black; */
	width: 23px;
	height: 23px;
	margin-top: -4px;
	margin-right: 18px;
}

.db-category-name {
	color: rgba(255, 255, 255, 0.8);
	font-size: 11px;
	letter-spacing: 0.3px;
	margin: 0;
}





.mini-dashboard-layout {
	background-color: rgb(81, 138, 96);
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
}

.mini-dashboard {
	color: white;
	padding-top: 17px;
}

.mini-hrms-logo-white {
	/* border: 1px solid white; */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.mini-hrms-logo-white>img {
	width: 28px;
}

.db-close-button {
	display: none;
}

.mini-db-category {
	/* border: 1px solid white; */
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0px 14px;
	margin-top: 54px;
}

.mini-db-category-img {
	margin-bottom: 12px;
}

.mini-db-category-img>img {
	/* border: 1px solid black; */
	width: 23px;
	height: 23px;
	margin-top: -4px;
	cursor: pointer;
}

@media screen and (max-width:576px) {

	.dashboard-layout {
		position: fixed;
		width: 100%;
		z-index: 5;
	}

	.db-logo-close {
		display: grid;
		grid-template-columns: 5fr 1fr;
	}

	/* .db-empty {
        border: 1px solid red;
    } */

	/* .hrms-logo-white {
        border: 1px solid green;
    } */

	.db-close-button {
		/* border: 1px solid blue; */
		display: flex;
		align-items: center;
		padding-top: 4px;
	}


	.hrms-logo-white>img {
		width: 130px;
	}

	.db-category {
		/* border: 1px solid red; */
		padding-left: 0;
	}

	.db-category-content {
		/* border: 1px solid green; */
		width: 70%;
		margin: 0 auto 14px;
	}


	.db-category-img>img {
		/* border: 1px solid black; */
		width: 30px;
		height: 30px;
	}

	.db-category-name {
		font-size: 16px;
	}

	.mini-dashboard-layout {
		display: none;
	}
}