.employeesList-layout {
    height: 100%;
    display: flex;
    position: relative;
}

.employeesList {
    background-color: rgb(245, 245, 245);
    width: 100%;
}

.employeesList-content {
    box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.2);
    background-color: white;
    border-radius: 5px;
    width: 90.6%;
    margin: 30px auto 34px;
    padding: 22px 18px 16px;
}


.employeesList-header {
    color: rgb(55, 55, 55);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.employeesList-header>p {
    padding-left: 4px;
    margin: 0;
}

.el-search-bar-layout {
    display: flex;
    height: 29px;
}

.el-search-bar-content {
    border: 1px solid rgb(206, 212, 218);
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4px 1px;
}

.el-search-bar-logo {
    margin-right: 4px;
    margin-top: -1px;
}

.el-search-bar-input>input {
    background-color: white;
    border: none;
    outline: none;
    font-size: 11px;
    padding-left: 6px;
}

.el-notification-logo {
    margin-bottom: 4px;
    cursor: pointer;
}

.el-export-import-add {
    display: flex;
}

.el-export-icon {
    border: 2px solid rgb(81, 138, 96);
    background-color: rgb(81, 138, 96);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4.5px;
    margin-left: 38px;
    cursor: pointer;
}

.el-export-icon>img {
    width: 18px;
    height: 18px;
}

.el-import-icon {
    border: 2px solid rgb(151, 151, 151);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 4.5px;
    margin-left: 12px;
    cursor: pointer;
}

.el-import-icon>img {
    width: 18px;
    height: 18px;
}

.el-add-employee-button {
    border: 2px solid rgb(151, 151, 151);
    background-color: white;
    color: rgb(151, 151, 151);
    border-radius: 4px;
    width: 112px;
    font-size: 10px;
    font-weight: 600;
    margin-left: 14px;
}

.el-add-employee-button-phone {
    display: none;
}





.el-data {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 5px 0px rgba(151, 151, 151, 0.3);
    border-radius: 8px;
    margin-top: 24px;
    padding: 2px 0px 0px;
    margin: 24px 2px 0px;
    color: rgb(55, 55, 55);
}

.table {
    /* border: 1px solid black; */
    border-radius: 8px;
    font-size: 10px;
    margin-bottom: 0;
}

thead>tr>th {
    color: rgb(55, 55, 55);
}

tbody>tr>td {
    padding: 5px;
    cursor: pointer;
}

thead>tr>th:nth-child(1) {
    border-top-left-radius: 10px;
    /* border: 1px solid red; */
    /* min-width: 68px; */
}

/* thead>tr>th:nth-child(2) {
    border: 1px solid green;
    min-width: 120px;
} */
/* thead>tr>th:nth-child(3) {
    border: 1px solid blue;
    min-width: 156px;
} */
/* thead>tr>th:nth-child(4) {
    border: 1px solid red;
    min-width: 139px;
} */
/* thead>tr>th:nth-child(5) {
    border: 1px solid green;
    min-width: 126px;
} */
/* thead>tr>th:nth-child(6) {
    border: 1px solid blue;
    min-width: 132px;
} */
/* thead>tr>th:nth-child(7) {
    border: 1px solid red;
    min-width: 107px;
} */
/* thead>tr>th:nth-child(8) {
    border: 1px solid green;
    min-width: 80px;
} */
/* thead>tr>th:nth-child(9) {
    border: 1px solid blue;
} */
/* .el-edit-employee-icon {
    border: 1px solid blue;
} */

thead>tr>th:last-child {
    /* border: 1px solid blue; */
    border-top-right-radius: 10px;
    width: 42px;
}


.el-edit-employee-icon>img {
    /* border: 1px solid blue; */
    width: 18px;
    height: 18px;
}

.activity-button {
    border: 1px solid rgb(223, 239, 252);
    background-color: rgb(223, 239, 252);
    color: rgb(52, 195, 143);
    border-radius: 4px;
    padding: 0px 5px;
}



.el-pagination {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.el-pagination-count {
    color: rgb(55, 55, 55);
    font-size: 10px;
    margin: 0;
}

.el-pagination-count>span {
    font-weight: 700;
}

.el-pagination-nav {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.el-pn-left-arrow,
.el-pn-right-arrow,
.el-pn-num {
    font-size: 10px;
    font-weight: 500;
    margin-left: 9.5px;
    cursor: pointer;
}

.pn-selected-num {
    color: rgb(151, 151, 151);
}

.el-pn-left-arrow,
.el-pn-right-arrow {
    background-color: rgb(81, 138, 96);
    border-radius: 4px;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.el-pn-left-arrow {
    background-color: rgb(151, 151, 151);
}




@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {
    .employeesList-content {
        width: 100%;
        margin: 0;
    }

    .employeesList-header {
        /* border: 1px solid black; */
        flex-direction: column;
    }

    .employeesList-header>p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .el-search-bar-layout {
        /* border: 1px solid black; */
        width: 100%;
        justify-content: space-between;
    }

    .el-search-bar-content {
        /* border: 1px solid red; */
        width: 50%;
        justify-content: space-between;
    }

    .el-search-bar-input>input {
        font-size: 12px;
        width: 100%;
    }

    .el-search-bar-logo {
        /* border: 1px solid blue; */
        margin-right: 0;
        margin-top: -1px;
    }

    .el-export-import-add {
        /* border: 1px solid blue; */
        width: 120px;
        justify-content: space-between;
    }

    .el-export-icon {
        margin-left: 0;
    }

    .el-import-icon {
        margin-left: 0;
    }

    .el-add-employee-button {
        display: none;
    }

    .el-add-employee-button-phone {
        border: 2px solid rgb(151, 151, 151);
        background-color: white;
        color: rgb(151, 151, 151);
        border-radius: 4px;
        min-width: 29px;
        display: block;
        font-size: 17px;
        font-weight: 600;
        font-weight: 600;
    }

    thead>tr>th {
        text-wrap: nowrap;
    }

    tbody>tr>td {
        text-wrap: nowrap;
    }

    .table {
        font-size: 12px;
    }

    .el-pagination-count {
        font-size: 12px;
    }

    .el-pn-left-arrow,
    .el-pn-right-arrow,
    .el-pn-num {
        font-size: 12px;
        margin-left: 9px;
    }
}